<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="/css/quiz/quiz.css">
    <script src="/js/quiz/quiz.js" defer></script>
    <title>Quiz</title>
</head>
<body>
    <div class="container">
      <div id="quiz">
        <h2 id="username">Name</h2>
        <h1>Quiz<i class="far fa-question-circle"></i></h1>
        <h3 id="score"></h3>
        <p id="index"></p>
        <div class="choices">
          <button id="guess1" class="btn"><p id="choice1">1</p></button>
          <button id="guess2" class="btn"><p id="choice2">2</p></button>
          <button id="guess3" class="btn"><p id="choice3">3</p></button>
          <button id="guess4" class="btn"><p id="choice4">4</p></button>
        </div>
        <button id="exit" class="btn">뒤로 가기</button>
      </div>
    </div>
</body>
</html>