<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <script src="/js/admin/admin.js" defer></script>
    <title>Quiz</title>
</head>
<body>
    <div class="div container center">
      <div class="btns">
        <a class="deadline-btn btn">마감 : </a>
        <a class="reset-btn btn">리셋</a>
      </div>
      <table class="table answers">
        <thead>
          <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Rank</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</body>
</html>