<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/home.css">
    <script src="/js/home/home.js" defer></script>
    <title>TITLE</title>
</head>
<body>
    <div class="div center">
        <div class="div center btns">
            <a class="login-btn">로그인</a>
            <a class="admin-btn">얻음인</a>
        </form>
    </div>
</body>
</html>