<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="/css/home/home.css">
    <script src="/js/home/home.js" defer></script>
    <title>TITLE</title>
</head>
<body>
    <div class="div center contents">
        <div class="div center btns">
            <a class="quiz-btn">퀴즈</a>
            <a class="login-btn">로그인</a>
            <a class="admin-btn">얻음인</a>
        </div>
        <div class="login-info center">
            <p id="id">ID : susid</p>
            <p id="name">Name : susname</p>
        </div>
    </div>
</body>
</html>