<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/register.js" defer></script>
    <title>TITLE</title>
</head>
<body>
  <div class="login-box">
    <h2>Register</h2>
    <form>
      <div class="user-box">
        <input id="name" type="text" name="" required="" autocomplete="off">
        <label>Name</label>
      </div>
      <div class="user-box">
        <input id="id" type="text" name="" required="" autocomplete="off">
        <label>ID</label>
      </div>
      <div class="user-box">
        <input id="password" type="password" name="" required="" autocomplete="off">
        <label>Password</label>
      </div>
      <div class="user-box">
        <input id="confirm-password" type="password" name="" required="" autocomplete="off">
        <label>Password confirm</label>
      </div>
      <a class="register-btn">Regitser</a>
      <p class="message">Already registered? <a href="/login">login</a></p>
    </form>
  </div>
</body>
</html>